*,
*::before,
*::after{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
}

body{
    background-color: rgb(82, 248, 171);
    display: flex;
    height: 100vh;
}

main{
    background-color: bisque;
    margin: auto;
    width: 80%;
    max-width: 900px;
    padding: 2rem;
    text-align: center;
    border-radius: 1.5rem;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

#grid{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    border: 2px solid black;
    margin: 2rem auto;
}

.cell{
    display: flex;
    border: 2px solid black;
    aspect-ratio: 1 / 1;
    cursor: crosshair;
    background-color: rgb(82, 248, 171);
    user-select: none;
}

.cell p{
    margin: auto;
    font-size: 1.5rem;
}

.cell.active{
    background-color: red;
    color: red;
}
